includes:
    - %rootDir%/../../bitexpert/phpstan-magento/extension.neon

parameters:
    level: 4
    paths:
        - .
    excludePaths:
        analyseAndScan:
            - vendor
            - .github
        analyse:
            - psalm-stubs.stub
    scanFiles:
        - psalm-stubs.stub
