includes:
    - phpstan.neon
    - phar:///var/www/html/vendor/phpstan/phpstan/phpstan.phar/conf/bleedingEdge.neon

parameters:
    magento:
        magentoRoot: ../..  # Points to /var/www/html from module directory
    excludePaths:
        analyseAndScan:
            - .github
        analyse:
            - psalm-stubs.stub
