/**
 * Magento2 OIDC admin menu icon
 *
 */

/* Icon (pseudo-element) - matches Magento default menu icon styling */
.admin__menu .item-oauth.parent.level-0 > a:before,
.admin__menu .item-oauth.level-0 > a:before {
    content: '';
    display: block ;
    /* width: 18px ;
    height: 18px ;*/
    margin: 0 auto 6px auto ;
    background-image: url('../images/m2oidc_logo.png') ;
    background-size: 20px 25px ; 
    background-repeat: no-repeat ;
    background-position: center center ;
    opacity: 0.7 ;
    filter: grayscale(100%) ;
    transition: opacity 0.2s ease ;
}

/* Hover states */
.admin__menu .item-oauth.level-0 > a:hover,
.admin__menu .item-oauth.level-0 > a:hover:before {
    color: #fff;
    filter: grayscale(0%) ;
}

/* Active state */
.admin__menu .item-oauth._current.level-0 > a,
.admin__menu .item-oauth._current.level-0 > a:before {
    color: #fff;
    filter: grayscale(0%) ;
}
