/* Authelia OIDC menu icon - matches Magento admin style using Admin Icons font */
.admin__menu .item-oauth.parent.level-0 > a:before,
.admin__menu .item-oauth.level-0 > a:before {
    content: '\e61b'; /* Lock icon from Admin Icons font */
    font-family: 'Admin Icons';
    font-size: 2.2rem;
    display: block;
    width: auto;
    height: auto;
    margin: 0 auto 5px auto;
    text-align: center;
    color: #b5b9bc; /* Matches Magento admin icon color */
    text-decoration: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

.admin__menu .item-oauth.level-0 > a {
    color: #b5b9bc; /* Match Magento admin text color */
    font-weight: 600;
    text-transform: none;
}

/* Hover state to match Magento admin */
.admin__menu .item-oauth.level-0 > a:hover {
    color: #fff;
}

.admin__menu .item-oauth.level-0 > a:hover:before {
    color: #fff;
}

