<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <!-- Defines the Access Control for the Settings and Modules -->
    <acl>
        <resources>
            <!-- Magento Admin ACL -->
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <!-- OAuth Client ACL Settings Definition -->
                    <resource id="MiniOrange_OAuth::OAuth" title="OAuth Client" sortOrder="10" >
                        <!-- OAuth Settings ACL definition -->
                        <resource id="MiniOrange_OAuth::oauth_settings" title="OAuth Settings" sortOrder="2"/>
                        <!-- Sign In Settings ACL definition -->
                        <resource id="MiniOrange_OAuth::signin_settings" title="Sign In Settings" sortOrder="3"/>
                        <!-- Attribute Settings ACL definition -->
                        <resource id="MiniOrange_OAuth::attr_settings" title="Attribute Mapping Settings" sortOrder="4"/>
                        <!-- Role Settings ACL definition -->
                        <resource id="MiniOrange_OAuth::role_settings" title="Role Mapping Settings" sortOrder="5"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
