<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- CheckAttributeMappingAction Dependencies -->
    <type name="MiniOrange\OAuth\Controller\Actions\CheckAttributeMappingAction">
        <arguments>
            <argument name="testAction" xsi:type="object">MiniOrange\OAuth\Controller\Actions\ShowTestResults</argument>
            <argument name="processUserAction" xsi:type="object">MiniOrange\OAuth\Controller\Actions\ProcessUserAction</argument>
            <argument name="userFactory" xsi:type="object">Magento\User\Model\UserFactory</argument>
            <argument name="adminSession" xsi:type="object">Magento\Backend\Model\Auth\Session</argument>
            <argument name="cookieManager" xsi:type="object">Magento\Framework\Stdlib\CookieManagerInterface</argument>
            <argument name="adminConfig" xsi:type="object">Magento\Backend\Model\Session\AdminConfig</argument>
            <argument name="cookieMetadataFactory" xsi:type="object">Magento\Framework\Stdlib\Cookie\CookieMetadataFactory</argument>
            <argument name="backendUrl" xsi:type="object">Magento\Backend\Model\UrlInterface</argument>
        </arguments>
    </type>

    <!-- OIDC Credential Adapter Configuration -->
    <type name="MiniOrange\OAuth\Model\Auth\OidcCredentialAdapter">
        <arguments>
            <argument name="userFactory" xsi:type="object">Magento\User\Model\UserFactory</argument>
            <argument name="eventManager" xsi:type="object">Magento\Framework\Event\ManagerInterface</argument>
            <argument name="oauthUtility" xsi:type="object">MiniOrange\OAuth\Helper\OAuthUtility</argument>
        </arguments>
    </type>

    <!-- OIDC Credential Plugin Configuration -->
    <type name="MiniOrange\OAuth\Plugin\Auth\OidcCredentialPlugin">
        <arguments>
            <argument name="oidcCredentialAdapter" xsi:type="object">MiniOrange\OAuth\Model\Auth\OidcCredentialAdapter</argument>
            <argument name="oauthUtility" xsi:type="object">MiniOrange\OAuth\Helper\OAuthUtility</argument>
        </arguments>
    </type>

    <!-- OIDC Admin Callback Controller Configuration -->
    <type name="MiniOrange\OAuth\Controller\Adminhtml\Actions\Oidccallback">
        <arguments>
            <argument name="userFactory" xsi:type="object">Magento\User\Model\UserFactory</argument>
            <argument name="auth" xsi:type="object">Magento\Backend\Model\Auth</argument>
            <argument name="resultFactory" xsi:type="object">Magento\Framework\Controller\ResultFactory</argument>
            <argument name="oauthUtility" xsi:type="object">MiniOrange\OAuth\Helper\OAuthUtility</argument>
            <argument name="messageManager" xsi:type="object">Magento\Framework\Message\ManagerInterface</argument>
            <argument name="url" xsi:type="object">Magento\Framework\UrlInterface</argument>
        </arguments>
    </type>

    <!-- Plugin to inject OIDC Credential Adapter when OIDC token detected -->
    <type name="Magento\Backend\Model\Auth">
        <plugin name="oidc_credential_interceptor"
                type="MiniOrange\OAuth\Plugin\Auth\OidcCredentialPlugin"
                sortOrder="10"/>
    </type>

    <!-- CAPTCHA Bypass Plugin for OIDC Authentication -->
    <type name="MiniOrange\OAuth\Plugin\Captcha\OidcCaptchaBypassPlugin">
        <arguments>
            <argument name="oauthUtility" xsi:type="object">MiniOrange\OAuth\Helper\OAuthUtility</argument>
        </arguments>
    </type>

    <!-- Plugin to bypass CAPTCHA validation for OIDC-authenticated users -->
    <type name="Magento\Captcha\Observer\CheckUserLoginBackendObserver">
        <plugin name="oidc_captcha_bypass"
                type="MiniOrange\OAuth\Plugin\Captcha\OidcCaptchaBypassPlugin"
                sortOrder="10"/>
    </type>

    <!-- MiniOrange Custom Logger Configuration -->
    <type name="MiniOrange\OAuth\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>

    <type name="MiniOrange\OAuth\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">miniorange_oauth</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">MiniOrange\OAuth\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

</config>
